body{
    background: #FF6600;
}
header{
    background: #FF6600;
    z-index: 3000;
    box-shadow: 2px 2px 10px #ff660075;
}
footer .container2{
    margin: 0rem 5rem 5rem 5rem;  padding:5rem 7rem;  border-radius: 3rem;
    background: #C7DE49; 
    display: flex; flex-direction: column; gap: 2rem;
}
@media screen and (max-width:780px) {
    footer .container2{margin: 0 0 0 0; border-radius: 0rem; }
}
header{position: fixed;}
.container{
    padding-top: 14rem; 
}
.form-bg{
    background: white;
    border: 1px solid #333; border-bottom: none;
    border-radius: 5rem 0 0 0 ;
    position: relative;
    padding: 6rem; padding-top: 10rem;
}
/* 우측 상단 접힌 모양 */
.form-bg::after {
content: "";
position: absolute;
top: -1px;
right: -1px;
width: 8rem;  /* 접힘 크기 */
height: 8rem;
background: linear-gradient(-135deg, #FF6600 50%, #333 50%);
border-bottom-left-radius: 2.5rem; /* 접힌 부분의 둥근 처리 */
}

.title{
    display: flex; gap: 2rem;
}
.title h3{
    font-family: 'climate'; font-size: 7rem;
}
.title p{font-size: 1.5rem; padding-top: 1rem;}


.contact-form{
    margin-top: 6rem;
}
.category{
    display: flex; gap: 2rem;
}
.category label{display: flex; align-items: center; gap: .6rem;}
[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    /* border: 2px solid #555; */
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px #555;
}

  [type="radio"]:checked {
    box-shadow: 0 0 0 2px #FF6600;
    border: 3px solid rgb(255, 255, 255);
    background-color: #FF6600;
}


.inputlist{
    margin-top: 3rem;
    width: 100%;
}
.inputlist input{
    font-family: 'Kartrider';
    border-bottom: .1rem solid #333;
}
.inputList01{
    display: flex; justify-content: space-between; gap: 2rem; align-items: center;
    flex-wrap: nowrap;  
}
.inputList01 span{font-size: 1.4rem;}
.inputList01 select{
    font-family: 'Kartrider';
    border-bottom: .1rem solid #333;
    width: 50%;}
.inputList01 input{
    font-family: 'Kartrider';
    border-bottom: .1rem solid #333;
    width: 40%;
}
.inputList01 .email-wrap{
    display: flex; justify-content: space-between; align-items: center; gap: 1rem;
    width: 50%;
}



.inputList03 textarea {height: 5rem;}
textarea {
    width: 100%;
    height: 16rem;
    padding: 1rem 0rem;       
    border-bottom: 1px solid #333;
    resize: none;           
    overflow: auto;           
    font-family: 'kartrider';
    text-align: left;         
    vertical-align: top;   
  }
  
  textarea::placeholder {
    color: #888;
    text-align: left; 
    font-family: 'kartrider';
  }

.contact-form button:hover{
    background: rgb(255, 66, 255);
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 3px 3px 0px #222;
}
.contact-form button{
    margin: 3rem 0 0 0 ;
    border: 1px solid #333;
    background: #FE54FF;
    font-family: 'kartrider';
    font-weight: 500; font-size: 1.6rem;
    width: 25%;
    padding: 1rem;
}
.btn-wrap{display: flex; justify-content: end;}

@media screen and (max-width:1140px) {
    .title{flex-direction: column;}
    .title h3{font-size: 7rem;}
    .title p{font-size: 1.4rem}
}
@media screen and (max-width:710px) {
    .title h3{font-size: 4rem;}
    .inputList01{flex-direction: column;}
    .inputList01 input{width: 100%;}
    .inputList01 select{width: 100%;}
    .inputList01 .email-wrap{   width: 100%; }
    .title p{font-size: 1.2rem}
}
@media screen and (max-width:540px) {
    .form-bg{padding: 3rem; padding-top: 10rem;}
    .title h3{font-size: 3rem;}
    .category{
        display: grid; gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
    }
}