:root{
    --grid-size: 40px;     /* 격자 한 칸 크기 */
    --line-thickness: 1px; /* 선 굵기 */
    --line-color: rgba(255, 255, 255, 0.336);
    --bg: #A1CC64;
}

#lineup{
    background-color: var(--bg);
    background-image:
    repeating-linear-gradient(0deg, var(--line-color) 0, var(--line-color) var(--line-thickness), transparent var(--line-thickness), transparent var(--grid-size)),
    repeating-linear-gradient(90deg, var(--line-color) 0, var(--line-color) var(--line-thickness), transparent var(--line-thickness), transparent var(--grid-size));
    /* 기타 */
    /* background-size: auto; */
    padding-bottom: 6rem;
}
footer .container2{
    margin-bottom: 0; 
}


section{padding-top: 10rem;}

section > .title{
    font-family: 'climate'; font-size: 7rem;
}




/* 탭 버튼 스타일 */
.tap { display: flex; gap: 2rem;}

.tap li {
margin-top: 1rem;
list-style: none;
cursor: pointer;
border-bottom: none;
margin-right: 5px;
font-family: 'climate'; font-size: 4rem;
color: #2d410952;
}

.tap li.active {
color: #2d4109;
}

/* 탭 컨텐츠 영역 */
.tab-contents {
padding: 20px 0;
}

.tab-panel {display: none;}
.tab-panel.active {display: block;}


/* 오시는길 */

.direction{
    /* border: 1px solid #db2828; */
}

.part1{
    padding: 3rem;
    background: url(/img/direction_bg.png) center / 100% 100% no-repeat;
    display: flex; gap: 4rem;
    /* border: 1px solid #1d7fff; */
}

.mapImg{
    width: 50rem; aspect-ratio: 1/1;
    background: url(/img/derectionmap.png) 0 0 / contain no-repeat;
}

.traffic .trafficTitle{
    display: inline-block;
    padding: .8rem 1.2rem .8rem 1rem;
    font-weight: 700; font-size: 2rem;
    color: #A1CC64;
    background: #222;
    transform: rotate(-8deg) translateY(-.5rem) translateX(.5rem);
    margin-top: 3rem;
}
.traffic .trafficTitle::after{
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1.2rem;  /* 접힘 크기 */
    height: 1.2rem;
    background: linear-gradient(-135deg, #F2FFA7 50%, #394635 50%);
}

.traffic li::before{
    font-size: 2.4rem;color: #A1CC64;-webkit-text-stroke: 1px #222;
}
.traffic li:nth-child(1)::before{content: '\F1B0';font-family: 'remixicon';}
.traffic li:nth-child(2)::before{content: '\EB10';font-family: 'remixicon';}
.traffic li:nth-child(3)::before{content: '\EB38';font-family: 'remixicon';}

.traffic li p {margin-top: 1rem;}


.part2{
    margin-top: 10rem;
    position: relative;
}

.sticker{
    position: absolute; top: -8rem;left: -3rem;
    color: #111;
    background: url(/img/sticker.png) 0 0 / cover no-repeat;
    width: 12rem; aspect-ratio: 1/1;
    font-size: 2.4rem; font-family: 'climate';
    display: flex;align-items: center;justify-content: center;
    text-shadow: 4px 4px 0 #ffc422;
    transform: rotate(-20deg);
}
.notice{
    border: 1px solid #666; border-radius: 3rem;
    padding: 3rem; padding-top: 4rem; line-height: 1.4;
    background: #b7e27c;
    margin-bottom: 4rem;
}



/* 현장가이드 */
.sitemap{
    width: 100%; height: 100%;
    background: url(/img/direction_bg3.png) center / 100% 100% no-repeat;
    padding: 4rem; padding-bottom: 6rem;
    margin-bottom: 4rem;
}

.sitemapImg{
    width: 100%; aspect-ratio: 5 / 2;border: 1px solid #000;
}

.sitemapTag{
    margin-top: 3rem; padding: 0rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.sitemapTag li{
    width: 20rem; display: flex; gap: 1rem; align-items: center;
}
.sitemapTag .icon{
    width: 4rem; aspect-ratio: 1/1;
    border: 1px solid #333; border-radius: 5rem;
    position: relative;
}

.sitemapTag .tag1{background: #FBCB32;}
.sitemapTag .tag1::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag1.png) center/ 60% no-repeat ;}
.sitemapTag .tag2{background: #FD6C37;}
.sitemapTag .tag2::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag2.png) center/ 50% no-repeat ;}
.sitemapTag .tag3{background: #6B2B15;}
.sitemapTag .tag3::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag3.png) center/ 60% no-repeat ;}
.sitemapTag .tag4{background: #996DFF;}
.sitemapTag .tag4::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag4.png) center/ 60% no-repeat ;}
.sitemapTag .tag5{background: #82DFE3;}
.sitemapTag .tag5::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag5.png) center/ 50% no-repeat ;}
.sitemapTag .tag6{background: #1E32D7;}
.sitemapTag .tag6::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag6.png) center/ 50% no-repeat ;}
.sitemapTag .tag7{background: #0A777C;}
.sitemapTag .tag7::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag7.png) center/ 55% no-repeat ;}
.sitemapTag .tag8{background: #BDD5FF;}
.sitemapTag .tag8::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag8.png) center/ 55% no-repeat ;}
.sitemapTag .tag9{background: #FF4081;}
.sitemapTag .tag9::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag9.png) center/ 50% no-repeat ;}
.sitemapTag .tag10{background: #65DF77;}
.sitemapTag .tag10::after{content: ''; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    background: url(/img/icon/tag10.png) center/ 50% no-repeat ;}





@media screen and (max-width:1100px) {
    .traffic li p {font-size: 1.4rem;}
}
@media screen and (max-width:980px) {

    .part1{
        flex-direction: column; padding-left: 4rem;
        background: url(/img/direction_bg2.png) center / 100% 100% no-repeat;
    }
    .mapImg{
        width: 100%;}
}
@media screen and (max-width:780px) {
    #lineup{padding-bottom: 0;}
    .traffic li p {font-size: 1.2rem;}
 }